:root {
  --primary: #b6895b;
  --bg: #dddcd0;
}

* {
  font-family: "Popppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: black;
  height: 3000px;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #71836f;
  font-style: italic;
  transition: 1s;
}

.navbar .navbar-logo:hover {
  color: #cbd6ca;
  transition: 1s;
}

.navbar-logo span {
  color: white;
}

.navbar-nav a {
  color: white;
  font-size: 1.4rem;
  margin: 0 1rem;
  transition: 0.3s;
}

.navbar-nav a:hover {
  color: #cbd6ca;
  font-size: 1.6rem;
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
  transition: 0.3s;
}

.navbar .navbar-extra a:hover {
  color: #71836f;
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(0deg, var(--bg) 30%, rgba(255, 255, 255, 0) 90%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 50rem;
  font-size: 2rem;
  padding: 12rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero .content h1 span {
  color: #cba37f;
}

.button-1 {
  height: 4rem;
  width: 10rem;
  font-size: 1.8rem;
  border-radius: 1rem;
  color: black;
  font-weight: 200;
  background-color: #cba37f;
  box-shadow: 1px 1px 9px rgba(1, 1, 1, 0.8);
}

/* About Section */
.about,
.menu {
  padding: 8rem 5% 1.4rem;
  background-color: var(--bg);
}

.about h2,
.menu h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.span-1 {
  color: #879985;
}

.span-2 {
  color: black;
}

.row-1 {
  display: flex;
  width: 100%;
}

.row-1 .about-img {
  width: 40%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.about .row-1 .about-img img {
  width: 80%;
  border-radius: 30px;
}

.row-1 .about-story {
  width: 60%;
}

.about .row-1 .about-story {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.4rem;
}

/* Menu Section */
.row-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: -1rem;
}

/* Container - 1 */
.container-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  background-color: #1b1b1b;
  color: #d8d6cb;
}

.row-2 .container-1 .menu-kategori-1 {
  display: grid;
  place-items: center;
  height: 4rem;
  width: 100%;
  letter-spacing: 4px;
  padding-top: 4rem;
  font-size: 0.9rem;
}

/* Containr - 2 */
.container-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  background-color: #dddcd0;
  color: #1b1b1b;
}

.row-2 .container-2 .menu-kategori-2 {
  display: grid;
  place-items: center;
  height: 4rem;
  width: 100%;
  letter-spacing: 4px;
  padding-top: 4rem;
}

/* Containr - 3 */
.container-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  background-color: #1b1b1b;
  color: #d8d6cb;
}

.row-2 .container-3 .menu-kategori-3 {
  display: grid;
  place-items: center;
  height: 4rem;
  width: 100%;
  letter-spacing: 4px;
  padding-top: 4rem;
}

/* Containr - 4 */
.container-4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  background-color: #dddcd0;
  color: #1b1b1b;
}

.row-2 .container-4 .menu-kategori-4 {
  display: grid;
  place-items: center;
  height: 4rem;
  width: 100%;
  letter-spacing: 4px;
  padding-top: 4rem;
}

/* Containr - 5 */
.container-5 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  background-color: #1b1b1b;
  color: #d8d6cb;
}

.row-2 .container-5 .menu-kategori-5 {
  display: grid;
  place-items: center;
  height: 4rem;
  width: 100%;
  letter-spacing: 4px;
  padding-top: 4rem;
}

.row-menu-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 3rem 0;
  margin-top: -2rem;
  font-size: 1.4rem;
}

.row-menu-1 h3 {
  padding-top: 1rem;
}

.menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
}

.menu-card-img {
  border-radius: 100%;
  width: 18rem;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tables */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #ffffff;
    width: 30rem;
    height: 100vh;
    transition: 1s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: black;
    transition: 1s;
  }

  .navbar .navbar-nav a:hover {
    font-size: 2.5rem;
  }

  .about .row-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .about .row-1 .about-img {
    width: 100%;
  }

  .about .row-1 .about-story {
    padding-top: 2rem;
    width: 80%;
    text-align: justify;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #513c28;
    width: 30rem;
    height: 100vh;
    transition: 1s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: white;
    transition: 1s;
  }

  .navbar .navbar-nav a:hover {
    font-size: 2.5rem;
  }

  .about .row-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .about .row-1 .about-img {
    width: 100%;
  }

  .about .row-1 .about-story {
    padding-top: 2rem;
    width: 80%;
    text-align: justify;
  }
}
